<html>
<head>
</head>
<body>
	Hello, Help me with this bug<br/>
	Step :<br/>
	<ol start="1">
		<li>initiate Data, go to page <a href='http://localhost/initData'>http://localhost/initData</a></li>
		<li>Wait until finish</li>
		<li>initiate machineSectionSummary, go to page <a href='http://localhost/initMachineSectionSummary'>http://localhost/initMachineSectionSummary</a></li>
		<li>Wait until finish</li>
		<li>Relaunch the program (Stop - Start or Restart)</li>
		<li>initiate machineSectionSummary, go to page <a href='http://localhost/initMachineSectionSummary'>http://localhost/initMachineSectionSummary</a></li>
		<li>argument type mismatch</li>
	</ol>
</body>
</html>